html, body{
	width: 100%;
	height: 100%;
	background: url(../images/background.png);
}

body {
    padding-top: 51px;
}

button{
	margin-left: 5px;
}

textarea{ 
	width: 100%;
	max-width: 100%;
	max-height: 500px;
}

table{
	background: #F0F0F0;
}

div#offers-wrapper{
	overflow: hidden;
}

@media all and (min-width: 768px) and (max-width: 999px){
	div#offers-wrapper{
		overflow: auto;
	}
}

td.edit form{
	float: left;
}

div.navbar{
    margin: 0px auto;
	border-radius: 0px;
}

#mainarea{
	width: 85%;
	margin: 0px auto;
}
@media all and (min-width: 1025px){
    #header{
        height: 250px;
        background: url(../images/header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #AA0174;
        border-bottom: 1px solid #222222;
    }
}

@media all and (min-width: 768px) and (max-width: 999px){
    .navbar-brand{
        display: none;
    }
}

#content{
	background: rgba(242, 242, 242, 0.9);
	padding: 15px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	border-right: 3px solid #A4A4A4;
	-webkit-box-shadow: 0 1px 40px 0px #969696;
	-moz-box-shadow: 0 1px 40px 0px #969696;
	box-shadow: 0 1px 40px 0px #969696;
}
#content h2, #content h4 {
    text-align: center;
}

#muted{
	color: #999;
	text-align: right;
}
#latenight{
    text-align: center;
}

#latenight div#hidden{
    display: none;
}

#imprint ul{
    list-style: none;
}

.angebot{}

.description{
	float: left;
}

.company{
	float: left;
	background: #BDDFEB;
}

.price{
	float: right;
	background: #A9F5A9;
}

.lapse{
	float: right; 
	background: #C3C3C3;
}

.form-control{
	margin-bottom: 8px;
}

.edit{
	width: 110px;
}

.pricetable{
	width: 70px;
}

.lapsetable{
	width: 190px;
}

.offername{
	width: 300px;
}

.shariff{
    margin-top: 10px;
    text-align: center;
}
